[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyhamcrest = "*"
behave = {ref = "v1.2.7.dev2", git = "https://github.com/behave/behave"}

[dev-packages]

[requires]
python_version = "3.9"
